/*正常样式*/
body{
    color: #776e65;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container-fluid{
    padding: 0px;
}
.side-column{
    background-image: url("../amam.png");
    background-repeat: repeat-y;
    height: 100vh;
}

#left{
    border-right: 1px solid white;
}
#right{
    border-left: 1px solid white;
}
#main-column{
    background-color: #faf8ef;
    overflow: hidden;
    height: 100vh;
}
#main{
    max-width: 500px;
    margin: 20px auto 0;
}
.heading{
    padding: 0px;
}

/*分数*/
.scores-container{
    float: right;
    position: relative;
    display: inline-block;
    background: #bbada0;
    font-size: 25px;
    height: 55px;
    line-height: 47px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 30px;
    margin-top: 5px;
    margin-left: 5px;
}
.scores-container:after{
    position: absolute;
    width: 100%;
    bottom: 17px;
    left: 0px;
    text-align: center;
    font-size: 15px;
    color: #eee4da;
}
#score:after{
    content:"SCORE";
}
#best:after{
    content: "BEST";
}

.title{
    font-weight: bold;
    display: inline-block;
    font-size: 72px;
    margin: 0px;
}
.restart-button{
    background-color: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height:  40px;
    line-height: 42px;
    display: block;
    text-align: center;
    float: right;
    font-weight: bold;
}
.game-container{
    position: relative;
    margin-top: 25px;
    background-color: #bbada0;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 6px;
    padding-top: 15px;
    padding-left: 15px;
}
.grid-row{
    margin-bottom: 15px;
    display: flex;
}
.grid-cell{
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
    /*font-size:46px;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*line-height: 106.25px;*/
}
.number-cell{
    border-radius: 3px;
    font-family: Arial;
    font-weight: bold;
    font-size: 46px;
    line-height: 106.25px;
    text-align: center;
    position: absolute;
}