/*小屏幕对应样式*/
@media screen and (max-width: 500px){
    #main{
        width: 280px;
    }

    .scores-container{
        bottom: 5px;
        margin-top: 0px;
        height: 45px;
        font-size: 20px;
        padding: 5px 20px;
    }
    .scores-container:after{
        bottom: 10px;
        font-size: 12px;
    }

    .title{
        font-size: 36px;
    }
    .game-intro h2{
        font-size: 18px;
    }
    .restart-button{
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }
    .game-container{
        width: 280px;
        height: 280px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .grid-row{
        margin-bottom: 10px;
    }
    .grid-cell{
        width: 57.5px;
        height: 57.5px;
        margin-right: 10px;
    }
    .number-cell{
        font-size: 25px;
        line-height: 57.5px;
    }
}